@model IEnumerable<SippyShop.Models.tblRecipt>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/AdminView.cshtml";
}

<h2>RECIPT</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sale)
        </th>
        <th>
            Reciever
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>
            Status
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sale)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @if (item.stt == 1)
            {
                <p style="color:blue">In process</p>
            }
            else if (item.stt == 2)
            {
                <p style="color:darkgreen">Completed</p>
            }
            else if (item.stt == 3)
            {
                <p style="color:gray">Canceled</p>
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.reciptId }) |
            @Html.ActionLink("Details", "Details", new { id = item.reciptId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.reciptId })
        </td>
    </tr>
}

</table>
